body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 20px;
    line-height: 30px;
}

h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #2dc4b2;
}
label span {
    font-size: small !important;
}
.box {
    height : 10px;
    width : 10px;
    display : inline-block;
    border : 1px solid;
    margin-right : 5px;
    margin-top : 5px;
}
#console {
    position: absolute;
    width: 300px;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
}
.session {
    margin-bottom: 20px;

}
.my-column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.my-row:after {
    content: "";
    display: table;
    clear: both;
}
.icons-legend {
    width: 20px;
}
.text-legend{
    font-size: 9px;
}
.row {
    width: 100%;
}

.colors {
    background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
    margin-bottom: 5px;
}

.label {
    width: 15%;
    display: inline-block;
    text-align: center;
}
.title-color {
    color: #aa5e79;
}
